<div class="row">
  <div class="col-sm-1">
    <img src="images/gravatar.png" alt="avatar" />
  </div>
  <div class="col-sm-11">
    <LinkTo @route="user"><h2>john</h2></LinkTo>
    <p>I am what I am</p>
  </div>
</div>